@page 
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     
    <!-- *** --> 
    <h2 class="display-3"><label>@Model.Msg</label></h2>
    
    <!--form method="post" asp-ac tion=MyFunction();>
        <button type="submit">Call Function Z </button>
    </form--> 

    <form method="post">
        <input type="text" asp-for="Msg" />
        <button type="submit">Submit 101</button>   
    </form>


    <form method="post">
        <input type="text"  asp-for="Data" name="Data" />
        <input type="submit" value="Submit" />
    </form>

    <!--a asp-controller="Cart" asp-action="AddToCart" asp-ro ute-id="<at> Model.MyF unction();">Call f() Z</a-->
      
    <!-- button type="button" asp-controller="Model" asp-act ion="<at> Model.MyFun ction()">Call Function 6</button-->
    <!--button asp-action=" Model.MyFunction" onclick="<at> Model.myFunction()">Click me</button-->
    <!-- *** -->

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
