@page 
@model WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
     
    <!-- *** --> 
    <h2 class="display-3"><label>@Model.Msg</label></h2>
    
    <form method="post">
        <input type="text" asp-for="Msg" />
        <button type="submit">Submit 101</button>   
    </form>


    <form method="post">
        <input type="text"  asp-for="Data" name="Data" />
        <input type="submit" value="Submit" />
    </form>

    <!-- *** -->

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
