@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <thead>   <!-- thead tag - table header -->
        <tr>  <!-- tr tag - table row-->
            @foreach (var column in Model.Cols)
            { 
                <!-- Generating th tags - table headers -->
                <th>@column</th>
            }
        </tr>
    </thead>
    <tbody>   <!-- tbody tag - table body -->
        @foreach (var row in Model.Rows)
        {
            <tr>
                @foreach (var value in row)
                {
                    <td>@value</td>
                }
            </tr>
        }
    </tbody>
</table>
