@page
@model MyApp.Namespace.PagesModel
@{
}

<p>Add new Student</p>

<div class="text-center">
    <form method="post">
        <input name="Name" placeholder="Student name" /> <br>
        <input name="Number" placeholder="Student Number" /> <br>
        <input name="Mark" placeholder="Student Mark" /> <br>
        <input type="submit" value="Submit" />
    </form>
</div>
